In [12]:
from sqlalchemy import create_engine
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as stats
import psycopg2 as pg
import pandas.io.sql as psql

In [15]:
# get connected to the database
connection = pg.connect("dbname=EmployeeCSV_DB user=postgres password=password")
 
employees_df = psql.read_sql("SELECT * FROM employees", connection)
employees_df.head(10)

   emp_no emp_title_id  birth_date  first_name  last_name sex   hire_date
0  473302        s0001  1953-07-25    Hideyuki   Zallocco   M  1990-04-28
1  475053        e0002  1954-11-18       Byong  Delgrande   F  1991-09-07
2   57444        e0002  1958-01-30       Berry       Babb   F  1992-03-21
3  421786        s0001  1957-09-28       Xiong   Verhoeff   M  1987-11-26
4  282238        e0003  1952-10-28  Abdelkader    Baumann   F  1991-01-18
5  263976        e0003  1959-10-30        Eran   Cusworth   M  1986-11-14
6  273487        s0001  1957-04-14   Christoph    Parfitt   M  1991-06-28
7  461591        s0002  1964-11-17      Xudong   Samarati   M  1985-11-13
8  477657        e0002  1962-12-18      Lihong  Magliocco   M  1993-10-23
9  219881        s0002  1956-04-24   Kwangyoen      Speek   F  1993-02-14

In [ ]:
engine = create_engine('postgresql://localhost:5432/<EmployeeCSV_DB>')
connection = engine.connect()